.daggerheart.dh-style.setting.appearance-settings {
    .diceSoNice-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 8px;
        margin-top: 32px;

        label {
            text-align: center;
        }

        select {
            grid-column: span 2;
        }
    }
}
