.theme-dark {
    .daggerheart.dh-style.countdowns {
        background-image: url(../assets/parchments/dh-parchment-dark.png);

        .window-header {
            background-image: url(../assets/parchments/dh-parchment-dark.png);
        }
    }
}

.daggerheart.dh-style.countdowns {
    z-index: var(--z-index-ui) !important;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    width: 300px;
    top: 16px;
    right: 64px;
    transition: right ease 250ms;

    &.expanded {
        right: 364px;
    }

    .window-header {
        cursor: default;
        border-bottom: 0;
    }

    .window-content {
        padding-top: 4px;
        padding-bottom: 16px;

        .countdowns-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .countdown-container {
                display: flex;
                gap: 16px;

                img {
                    width: 44px;
                    height: 44px;
                }

                .countdown-content {
                    height: 44px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .countdown-tools {
                        display: flex;
                        align-items: center;
                        gap: 16px;

                        .progress-tag {
                            border: 1px solid;
                            border-radius: 4px;
                            padding: 2px 4px;
                            background-color: light-dark(@beige, @dark-blue);
                        }
                    }
                }
            }
        }
    }
}
