.application.daggerheart.dh-style.campaign-frame {
    .campaign-frames-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .campaign-frame-container {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .information-container {
                display: flex;
                flex-direction: column;
                gap: 4px;

                label {
                    font-size: var(--font-size-20);
                }

                .subtext {
                    color: var(--beige-50);
                    font-style: italic;
                }

                .italic {
                    font-style: italic;
                }
            }
        }
    }
}