.application.sheet.daggerheart.dh-style.armor-effect-config {
    .armor-effects-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .armor-effect-container {
            display: flex;
            gap: 4px;

            * {
                flex: 1;
            }
        }
    }
}
