.application.sheet.daggerheart.dh-style.item {
    &.minimized {
        .attribution-header-label {
            display: none;
        }
    }

    .attribution-header-label {
        font-style: italic;
        font-family: @font-body;
        color: @color-text-subtle;
    }

    button.plain.inline-control {
        flex: 0 0 auto;
    }
}
