.application.sheet.daggerheart.dh-style.item {
    .attribution-header-label {
        font-style: italic;
        font-family: @font-body;
        color: light-dark(@chat-blue-bg, @beige-50);
    }
}
