.application.daggerheart.dh-style.action-config {
    .trigger-data {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;

        select {
            flex: 1;
        }

        .hint-section {
            flex: 3;
            display: flex;
            align-items: center;
            gap: 4px;

            .hint {
                flex: 1;
                flex-wrap: wrap;
            }
        }
    }
}
