@import '../utils/colors.less';
@import '../utils/fonts.less';

.daggerheart.dh-style {
    .tab.active.description {
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available !important;
        overflow-y: hidden !important;
        padding: 10px 20px 0 20px;

        prose-mirror.active + .artist-attribution {
            display: none;
        }
    }
}
