@import '../../utils/colors.less';

.theme-light .application.daggerheart.dh-style.dialog {
    .tab.details {
        .traits-inner-container .trait-container {
            background: url('../assets/svg/trait-shield-light.svg') no-repeat;

            div {
                filter: drop-shadow(0 0 3px @beige);
                text-shadow: 0 0 3px @beige;
            }
        }
    }
}

.application.daggerheart.dh-style.dialog {
    .tab.details {
        .traits-inner-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 2px;

            .trait-container {
                background-size: 100%;
                padding-top: 3px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .trait-name {
                    background-color: light-dark(var(--semi-transparent-dark-blue, rgba(24, 22, 46, 0.33)), var(--golden-40, #f3c26740));
                    border: 1px solid light-dark(@semi-transparent-dark-blue, @golden-60);
                    border-radius: 3px;
                    color: light-dark(var(--color-light-1), var(--golden, #f3c267));
                    font-size: var(--font-size-12);
                    font-weight: 600;
                    height: 1rem;
                    line-height: 1rem;
                    white-space: nowrap;
                    width: 100%;
                    text-shadow: 1px 1px 2px var(--light-black, rgba(0, 0, 0, 0.3));
                    padding: 0 2px;
                }

                span {
                    font-size: var(--font-size-10);
                }

                div {
                    filter: drop-shadow(0 0 3px black);
                    text-shadow: 0 0 3px black;
                    font-size: var(--font-size-12);
                }

                .trait-inner-container {
                    --color-border: light-dark(@semi-transparent-dark-blue, @golden-60);
                    --background: light-dark(#e8e6e3, @dark-blue);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    input {
                        text-align: center;
                        width: 32px;
                        height: 24px;
                        position: absolute;
                        margin-bottom: 6px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
