.daggerheart.dh-style.tooltip {
    .battlepoint-categories-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .battlepoint-grouping-container {
            display: flex;
            gap: 4px;

            .unselected-grouping {
                opacity: 0.4;
            }
        }
    }
}
