#tooltip.bordered-tooltip {
    width: 320px;
    border: 1px solid light-dark(@dark-blue, @golden);

    .daggerheart.dh-style.tooltip {
        color: @beige;

        .tooltip-header {
            display: flex;
            flex-direction: column;
            text-align: center;

            .helper {
                font-size: 12px;
                font-style: italic;
            }
        }
    }
}
