/* General */
@advantage: #008000;
@disadvantage: #b30000;
@miss: rgb(255, 0, 0);
@hit: rgb(0, 128, 0);
@positive: #699969;
@negative: #ff7f7f;

@borderPrimary: #b5b3a4;
@borderTertiary: #7a7971;

/* Drop Shadows */
@mainShadow: red;
@secondaryShadow: gold;

/* Background */
@secondaryBackground: #7a7971;
@primaryAccent: #778899;
@secondaryAccent: #708090;
@formBackground: #782e22;
@hoverBackground: #2f4f4f40;

/* Duality */
@hope: #ffe760;
@hopeBackgroundStart: black;
@hopeBackgroundEnd: brown;
@fear: #0032b1;
@fearAccent: #2555cd;
@fearBackgroundStart: #0f0f61;
@fearBackgroundEnd: blue;
@critical: #430070;
@criticalAccent: #66159c;
@criticalBackgroundStart: #250825;
@criticalBackgroundEnd: purple;
