.theme-light.tab.sidebar-tab.daggerheartMenu-sidebar {
    fieldset {
        border-color: @dark-blue;

        legend {
            color: @dark-blue;
        }
    }

    button {
        background: transparent;
    }

    .menu-refresh-container .menu-refresh-inner-container .experience-chip {
        background: @dark-blue-10;
        color: @dark-blue;

        &.selected {
            background: @dark-blue-40;
        }
    }
}

.tab.sidebar-tab.daggerheartMenu-sidebar {
    padding: 4px;

    fieldset {
        border-color: @golden;

        legend {
            color: @golden;
        }
    }

    button {
        background: @golden;
        border: 1px solid @dark-blue;
        color: @dark-blue;
    }

    div[data-application-part] {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    h2 {
        margin-top: 8px;
        text-align: center;
        font-weight: bold;
    }

    .menu-refresh-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .menu-refresh-inner-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            .experience-chip {
                display: flex;
                align-items: center;
                border-radius: 5px;
                width: fit-content;
                gap: 5px;
                cursor: pointer;
                padding: 5px;
                background: @golden-10;
                color: @golden;

                .label {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }

                &.selected {
                    background: @golden-40;
                }
            }
        }
    }
}
