@import '../../utils/spacing.less';
@import '../../utils/colors.less';

.daggerheart.views {
    .downtime-header {
        margin: 0;
        color: light-dark(@dark-blue, @golden);
        text-align: center;
        width: 100%;
    }

    .downtime-container {
        .activities-container {
            width: 100%;

            .activity-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px;

                .activity-inner-container {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    .activity-marker {
                        font-size: 8px;
                        flex: none;
                        color: light-dark(#18162e, #f3c267);
                        margin-right: 8px;
                    }

                    .activity-select-section {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 8px;
        display: flex;
        gap: 8px;
    }

    &.downtime {
        .activity-text-area {
            resize: none;
        }
    }
}
