.daggerheart.dh-style.dialog.character-creation {
    .creation-action-footer {
        display: flex;
        align-items: center;
        gap: 32px;
        justify-content: space-between;
        margin-top: auto;

        button {
            flex: 1;
            height: 100%;
            white-space: nowrap;
            padding: 10px;
            font-family: @font-body;
            font-weight: bold;
            max-width: fit-content;
            min-width: 150px;
        }
    }
}
