.daggerheart.dialog.dh-style.views.resource-dice {
    .reroll-confirmation {
        margin-bottom: 8px;
    }

    footer {
        display: flex;
        gap: 8px;

        button {
            flex: 1;
        }
    }
}
