.daggerheart.dh-style.effects-display {
    position: absolute;
    width: 68px;
    max-height: 300px;
    overflow: hidden;

    .window-content {
        > div {
            height: 100%;
        }
    }

    .effects-display-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .effect-container {
            img {
            }
        }
    }
}
