.daggerheart.dialog.dh-style.views.tag-team-dialog {
    .tag-team-roll-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .team-container {
            display: flex;
            gap: 16px;

            .member-container {
                display: flex;
                flex-direction: column;
                gap: 8px;
                flex: 1;

                .member-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    img {
                        height: 64px;
                        border-radius: 6px;
                        border: 1px solid light-dark(@dark-blue, @golden);
                    }

                    .member-name {
                        flex: 1;
                        text-align: center;
                        font-size: var(--font-size-18);
                    }
                }

                .roll-tools {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;

                    .roll-button {
                        position: relative;
                        display: flex;
                        justify-content: center;

                        .roll-label {
                            position: absolute;
                            top: 8px;
                            width: 60px;
                            text-align: center;
                            padding: 2px;
                            background: light-dark(darkblue, gold);
                            color: light-dark(white, black);
                            border-radius: 6px;
                            border: 1px solid light-dark(white, black);
                        }

                        img {
                            height: 80px;
                        }
                    }

                    .delete-button i {
                        font-size: 40px;
                    }
                }

                .roll-data {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    &.hope {
                        --text-color: @golden;
                        --bg-color: @golden-40;
                    }

                    &.fear {
                        --text-color: @chat-blue;
                        --bg-color: @chat-blue-40;
                    }

                    &.critical {
                        --text-color: @chat-purple;
                        --bg-color: @chat-purple-40;
                    }

                    .duality-label {
                        color: var(--text-color);
                        font-size: var(--font-size-24);
                        font-weight: bold;
                        text-align: center;
                    }

                    .roll-dice-container {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;

                        .roll-dice {
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .dice-label {
                                position: absolute;
                                color: white;
                                font-size: 1rem;
                                paint-order: stroke fill;
                                -webkit-text-stroke: 2px black;
                            }

                            img {
                                height: 32px;
                            }
                        }

                        .roll-operator {
                            font-size: var(--font-size-24);
                        }
                    }

                    .roll-total {
                        background: var(--bg-color);
                        color: var(--text-color);
                        border-radius: 4px;
                        padding: 3px;
                    }
                }
            }
        }
    }
}
