.theme-light {
    /* Add specifics*/
}

.daggerheart.levelup {
    .tiers-container {
        display: flex;
        gap: 16px;

        .tier-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
            background-image: url('../assets/parchments/dh-parchment-dark.png');

            legend {
                margin-left: auto;
                margin-right: auto;
            }

            .checkbox-group-container {
                display: grid;
                grid-template-columns: 3fr 1fr;
                gap: 4px;

                .checkbox-group-container-title {
                }

                .checkboxes-container {
                    display: flex;
                    gap: 4px;
                }
            }
        }
    }
}
