.combat-sidebar {
    // .encounter-gm-resources {
    //     flex: 0;
    //     display: flex;
    //     justify-content: center;
    //     padding: @largePadding 0;

    //     .gm-resource-controls {
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         padding: 0 4px;
    //         justify-content: center;
    //     }

    //     .gm-resource-tools {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         padding: 0 5px 0 @fullPadding;

    //         i {
    //             margin: 0 @tinyMargin;
    //             font-size: 16px;

    //             &.disabled {
    //                 opacity: 0.6;
    //             }

    //             &:hover:not(.disabled) {
    //                 cursor: pointer;
    //                 filter: drop-shadow(0 0 3px @mainShadow);
    //             }
    //         }
    //     }

    //     .gm-resource {
    //         background: rgba(255, 255, 255, 0.1);
    //         padding: @fullPadding;
    //         border-radius: 8px;
    //         border: @normalBorder solid black;
    //         font-size: 20px;
    //     }
    // }

    // .token-action-tokens {
    //     flex: 0 0 48px;
    //     text-align: center;

    //     .use-action-token {
    //         &.disabled {
    //             opacity: 0.6;
    //         }
    //     }
    // }

    // .icon-button {
    //     &.spaced {
    //         margin-left: @halfMargin;
    //     }

    //     &.disabled {
    //         opacity: 0.6;
    //     }

    //     &:hover:not(.disabled) {
    //         cursor: pointer;
    //         filter: drop-shadow(0 0 3px @mainShadow);
    //     }
    // }
    .encounter-controls.combat {
        justify-content: space-between;

        .encounter-control-fear-container {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            color: black;

            .dice {
                height: 24px;
            }

            .encounter-control-fear {
                position: absolute;
                font-size: 16px;
            }

            .encounter-control-counter {
                position: absolute;
                right: -10px;
                color: var(--color-text-secondary);
            }
        }

        .control-buttons {
            width: min-content;
        }
    }

    .token-actions {
        flex: 0 0 var(--input-height);
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

        .action-tokens {
            display: flex;
            gap: 4px;

            .action-token {
                height: 24px;
                border: 1px solid;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                padding: 8px;
                --button-size: 0;

                &.used {
                    opacity: 0.5;
                }
            }
        }

        button {
            font-size: 22px;

            &.main {
                background: var(--button-hover-background-color);
                color: var(--button-hover-text-color);
                border-color: var(--button-hover-border-color);

                &:hover {
                    filter: drop-shadow(0 0 3px var(--button-hover-text-color));
                }
            }

            &.discrete:hover {
                background: inherit;
            }
        }

        .combatant-control {
            &:focus {
                outline: none;
                box-shadow: none;
            }

            &.requesting {
                filter: drop-shadow(0 0 3px gold);
                color: var(--button-hover-text-color);
            }
        }
    }
}
