@scrollbar-width: 20px;
#itemBrowser {
    border: initial;
    .window-content {
        display: flex;
        flex-direction: row;
        gap: 50px;

        > div {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        div[data-application-part="list"] {
            flex: 1;
            gap: 10px;
        }

        .compendium-container {
            summary {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                padding: 2px 12px;
                border-radius: 3px;
                background-color: light-dark(#18162e, #f3c267);
                color: light-dark(#efe6d8, #18162e);
                list-style: none;

                &::marker, /* Latest Chrome, Edge, Firefox */ 
                &::-webkit-details-marker /* Safari */ {
                   display: none;
                }
            }

            > .folder-list {
                padding: 10px;
                gap: 0;

                > div {
                    &.folder-list {
                        > div {
                            margin-top: 5px;
                        }
                    }

                    &:not(.folder-list) {
                        margin-top: 10px;
                    }
                }
            }
        }

        .menu-path, option, select {
            text-transform: capitalize;
        }

        .menu-path > :first-child {
            text-transform: uppercase;
        }

        .menu-path {
            display: flex;
            align-items: center;
            > span {
                font-family: 'Montserrat', sans-serif;
                font-weight: bold;
                padding: 2px 12px;
                border-radius: 3px;
                background-color: light-dark(#18162e, #f3c267);
                color: light-dark(#efe6d8, #18162e);

                &.path-link {
                    padding: 0 5px;
                    background-color: light-dark(#f3c267, #18162e);
                    color: light-dark(#18162e, #efe6d8);
                }
            }
        }

        .folder-list, .item-list-header, .item-header > div {
            gap: 10px;
            cursor: pointer;
        }

        .item-filter {

            .wrapper, .form-group {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .form-group {
                white-space: nowrap;
            }

            .filter-header {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }

        .folder-list {
            display: flex;
            flex-direction: column;
            [data-folder-id] {
                padding: 2px 12px;
                border: 1px solid transparent;
            }

            .is-selected, > [data-folder-id]:hover {
                font-weight: bold;
                border-radius: 3px;
                background-color: light-dark(transparent, #18162e);
                color: light-dark(#18162e, #f3c267);
                border-color: light-dark(#18162e, #f3c267);
            }

            .subfolder-list {
                margin: 0 10px;
                gap: 0;
            }
        }

        .item-list-header, .item-header > div {
            display: grid;
            grid-template-columns: 40px 400px repeat(auto-fit, minmax(100px, 1fr));
            align-items: center;
            text-transform: capitalize;
            // gap: 10px;
        }

        .item-list-header, .item-list {
            overflow-y: auto;
            scrollbar-gutter: stable;
        }

        .item-list-header {
            background-color: light-dark(transparent, #18162e);
            color: light-dark(#18162e, #f3c267);
            border: 1px solid light-dark(#18162e, #f3c267);
            border-radius: 6px;
            min-height: 30px;
        }

        .item-list {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .item-container {
                &:hover {
                    background: rgba(255, 255, 255, .1);
                }
            }

            .item-desc .wrapper {
                padding: 0 10px;
            }

            img {
                border-radius: 5px;
            }
        }

        .filter-content {
            padding: 0 10px;
        }

        .filter-content, .item-desc {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease-in-out;
            .wrapper {
                overflow: hidden;
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                .form-group {
                    label {
                        flex: 1;
                    }
                    .form-fields {
                        flex: 2;
                    }
                }
            }
        }

        .expanded + .extensible {
            grid-template-rows: 1fr;
            padding-top: 10px;
        }

        .welcome-message {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}