.ephemeral-config .ephemeral-details-container {
    padding: 8px 8px 0;
    display: flex;
    flex-direction: column;

    .cost-container {
        display: flex;
        align-items: flex-end;
        gap: 8px;

        .cost-inner-container {
            flex: 1;
            display: flex;
            gap: 8px;

            .form-group {
                flex: 1;

                &.small {
                    flex: none;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .form-fields {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                    }
                }
            }
        }

        a {
            height: 32px;
            display: flex;
            align-items: center;
        }
    }

    .effect-container {
        
    }
}