@import '../../../utils/colors.less';
@import '../../../utils/fonts.less';

.application.sheet.daggerheart.actor.dh-style.adversary {
    .adversary-header-sheet {
        padding: 0 15px;
        padding-top: var(--header-height);
        width: 100%;

        .name-row {
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            padding-top: 5px;
            padding-bottom: 8px;
            flex: 1;

            .name-wrapper {
                display: flex;
                align-items: center;
                position: relative;
                width: 100%;
                min-height: 42px;
                border: 1px solid transparent;
                border-radius: 6px;
                outline: 2px solid transparent;
                &:hover {
                    outline: 2px solid light-dark(@dark, @golden);
                }
                input[type='text'] {
                    font-size: var(--font-size-28);
                    font-family: var(--dh-font-body, 'Montserrat'), sans-serif;
                    height: auto;
                    text-align: start;
                    position:absolute;
                    opacity: 0;
                    pointer-events: none;
                    z-index:-1;
                    transition: opacity 0.1s ease-out;
                    &:focus {
                        position: static;
                        opacity: 1;
                        pointer-events: auto;
                        z-index: auto;
                        width: 100%;
                    }
                }
                label {
                    display: inline-block;
                    position: static;
                    cursor: text;
                    color:light-dark(@dark, @golden);
                    font-size: var(--font-size-32);
                    font-family: var(--dh-font-title, 'Cinzel Decorative'), serif;
                    text-align: start;
                    line-height: 1.1;
                    min-height: 42px; 
                    word-break: break-word; 
                    width: 100%;
                }
                input[type='text']:focus ~ label {
                    display: none;
                }
            }
        }

        .tags {
            display: flex;
            gap: 10px;
            padding-bottom: 16px;

            .tag {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 3px 5px;
                font-size: var(--font-size-12);
                font: @font-body;

                background: light-dark(@dark-15, @beige-15);
                border: 1px solid light-dark(@dark, @beige);
                border-radius: 3px;
            }

            .label {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: var(--font-size-12);
            }
        }

        .adversary-info {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 16px 0;
        }

        .adversary-navigation {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
}
